// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-buy: 'ic-buy';
$vite1-ic-buy-name: 'ic-buy';
$vite1-ic-buy-x: 0px;
$vite1-ic-buy-y: 0px;
$vite1-ic-buy-offset-x: 0px;
$vite1-ic-buy-offset-y: 0px;
$vite1-ic-buy-width: 24px;
$vite1-ic-buy-height: 24px;
$vite1-ic-buy-total-width: 72px;
$vite1-ic-buy-total-height: 48px;
$vite1-ic-buy-image: 'assets/starget/sprite.png';
$vite1-ic-buy: (0px, 0px, 0px, 0px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-buy', );

$ic-data: 'ic-data';
$vite1-ic-data-name: 'ic-data';
$vite1-ic-data-x: 24px;
$vite1-ic-data-y: 0px;
$vite1-ic-data-offset-x: -24px;
$vite1-ic-data-offset-y: 0px;
$vite1-ic-data-width: 24px;
$vite1-ic-data-height: 24px;
$vite1-ic-data-total-width: 72px;
$vite1-ic-data-total-height: 48px;
$vite1-ic-data-image: 'assets/starget/sprite.png';
$vite1-ic-data: (24px, 0px, -24px, 0px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-data', );

$ic-payment: 'ic-payment';
$vite1-ic-payment-name: 'ic-payment';
$vite1-ic-payment-x: 0px;
$vite1-ic-payment-y: 24px;
$vite1-ic-payment-offset-x: 0px;
$vite1-ic-payment-offset-y: -24px;
$vite1-ic-payment-width: 24px;
$vite1-ic-payment-height: 24px;
$vite1-ic-payment-total-width: 72px;
$vite1-ic-payment-total-height: 48px;
$vite1-ic-payment-image: 'assets/starget/sprite.png';
$vite1-ic-payment: (0px, 24px, 0px, -24px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-payment', );

$ic-safe: 'ic-safe';
$vite1-ic-safe-name: 'ic-safe';
$vite1-ic-safe-x: 24px;
$vite1-ic-safe-y: 24px;
$vite1-ic-safe-offset-x: -24px;
$vite1-ic-safe-offset-y: -24px;
$vite1-ic-safe-width: 24px;
$vite1-ic-safe-height: 24px;
$vite1-ic-safe-total-width: 72px;
$vite1-ic-safe-total-height: 48px;
$vite1-ic-safe-image: 'assets/starget/sprite.png';
$vite1-ic-safe: (24px, 24px, -24px, -24px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-safe', );

$ic-search: 'ic-search';
$vite1-ic-search-name: 'ic-search';
$vite1-ic-search-x: 48px;
$vite1-ic-search-y: 0px;
$vite1-ic-search-offset-x: -48px;
$vite1-ic-search-offset-y: 0px;
$vite1-ic-search-width: 24px;
$vite1-ic-search-height: 24px;
$vite1-ic-search-total-width: 72px;
$vite1-ic-search-total-height: 48px;
$vite1-ic-search-image: 'assets/starget/sprite.png';
$vite1-ic-search: (48px, 0px, -48px, 0px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-search', );

$ic-transition: 'ic-transition';
$vite1-ic-transition-name: 'ic-transition';
$vite1-ic-transition-x: 48px;
$vite1-ic-transition-y: 24px;
$vite1-ic-transition-offset-x: -48px;
$vite1-ic-transition-offset-y: -24px;
$vite1-ic-transition-width: 24px;
$vite1-ic-transition-height: 24px;
$vite1-ic-transition-total-width: 72px;
$vite1-ic-transition-total-height: 48px;
$vite1-ic-transition-image: 'assets/starget/sprite.png';
$vite1-ic-transition: (48px, 24px, -48px, -24px, 24px, 24px, 72px, 48px, 'assets/starget/sprite.png', 'ic-transition', );

$vite1-width: 72px;
$vite1-height: 48px;
$vite1-image: 'assets/starget/sprite.png';
$vite1-sprites: ($vite1-ic-buy, $vite1-ic-data, $vite1-ic-payment, $vite1-ic-safe, $vite1-ic-search, $vite1-ic-transition, );

$vite1: (72px, 48px, 'assets/starget/sprite.png', $vite1-sprites, );

$vite1-map: (
    ic-buy: $vite1-ic-buy,
    ic-data: $vite1-ic-data,
    ic-payment: $vite1-ic-payment,
    ic-safe: $vite1-ic-safe,
    ic-search: $vite1-ic-search,
    ic-transition: $vite1-ic-transition,
);

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@function vite1-getwidth($sprite, $rate: 1) {
  $real-sprite:  map-get($vite1-map, $sprite);
  @return nth($real-sprite, 5) * $rate;
}

@function vite1-getheight($sprite, $rate: 1) {
  $real-sprite:  map-get($vite1-map, $sprite);
  @return nth($real-sprite, 6) * $rate;
}

@mixin vite1-sprite-width($sprite, $rate: 1, $size: null) {
  @if ($size == null){
    $size: vite1-getwidth($sprite, $rate);
  }
  width: $size;
}

@mixin vite1-sprite-height($sprite, $rate: 1, $size: null) {
  @if ($size == null){
    $size: vite1-getheight($sprite, $rate);
  }
  height: $size;
}

@mixin vite1-sprite-position($sprite, $rate: 1, $size: null) {
  @if ($rate == 1 and $size != null){
    $rate: $size / vite1-getwidth($sprite);
  }
  $real-sprite: map-get($vite1-map, $sprite);
  $sprite-offset-x: nth($real-sprite, 3);
  $sprite-offset-y: nth($real-sprite, 4);
  background-position: $sprite-offset-x * $rate $sprite-offset-y * $rate;
}

@mixin vite1-sprite-image() {
  background-image: url(assets/starget/sprite.png);
}

@mixin vite1-sprite-size($sprite, $rate: 1, $size: null) {
  @if ($rate == 1 and $size != null){
    $rate: $size / vite1-getwidth($sprite);
  }
  background-size: $vite1-width * $rate $vite1-height * $rate;
}

@mixin vite1-sprite($sprite, $rate: 1, $size: null) {
  @include vite1-sprite-image();
  @include vite1-sprite-position($sprite, $rate, $size);
  @include vite1-sprite-width($sprite, $rate, $size);
  @include vite1-sprite-height($sprite, $rate, $size);
  @include vite1-sprite-size($sprite, $rate, $size);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include vite1-sprite($sprite-name);
    }
  }
}
